.calculator {
  max-width: 400px;
  margin: 0 auto;
  border: 3px solid #7ce4dc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: #fff;
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    max-width: 320px;
  }

  .displayTab,
  .answerTab {
    margin: 1rem 0rem;
    background: #fff;
    border: none;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.25);
    outline: none;
    padding: 20px 10px;
    width: 90%;
    color: #eee;
    text-align: right;
    font-size: 40px;
    border-radius: 0;
  }
  .answerTab {
    margin-top: -1rem;
  }

  .btn {
    background: #7ce4dc;
    border: none;
    padding: 20px;
    color: black;
    border-radius: 10px;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.5s ease;
    outline: none;
    &:hover,
    &:active {
      background: #1d8d84;
      transform: scale(0.9);
    }
  }

  .btn_container {
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
  }

  .title {
    font-size: 1.2rem;
    color: #1d8d84;
    font-weight: 700;
  }

  .on {
    grid-column: span 2;
    background: #156760;
    border: none;
  }
  .wide {
    grid-column: span 2;
    background: #205560;
    color: white;
  }
  .header {
    background: #7ce4dc;
    padding: 1rem 2rem;
    width: 90%;
    margin-bottom: -1rem;
    text-align: right;
  }
}
