@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

* {
  box-sizing: border-box;
}

body {
  background: #C8F4F9;
  padding-bottom: 60px;
  padding-top: 60px;
  font-family: "Roboto Mono";
}
